body{
    background-image: url(./Desktop\ -\ 1.png);
}
.navbar{
    display: flex;
    justify-content: space-between;
    background: transparent;
}
.navbar-nav{
    display: flex;
    justify-content: space-around;
}
div#navbarScroll {
    flex-grow: unset;
}
